.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;

  letter-spacing: 0.03em;
  color: var(--black-logo-color);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;

    font-size: 26px;
    line-height: 1.192;
  }

  &__accent {
    color: var(--accent-color);
  }

  .footer & {
    display: inline-block;
    padding: 0;
    margin: 0 0 20px 0;

    color: var(--white-logo-color);
  }
}
