.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);

  @media screen and (min-width: 320px) and (max-width: 1199px) {
    text-align: center;
  }

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }

  &__address-wrapper {
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }
  &__social-wrapper {
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__call-to-action {
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.contact-list {
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.contact-list__text {
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-text-color);
}

.contact-list__link {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-text-accent);

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social-list__icon-footer {
  fill: var(--white-text-color);
}

.subscription-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__text-wrapper {
    margin-right: 10px;
  }

  &__field {
    width: 100%;
    margin-right: 12px;
    padding: 15px 0px 15px 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);

    background-color: var(--primary-bg-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);

    &::placeholder {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 768px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
